# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

[*]
indent_style = space
indent_size = 2
end_of_line = lf
trim_trailing_spaces = true
insert_final_newline = true

[*.md]
trim_trailing_spaces = false
max_line_length = 80

[Makefile]
indent_style = tab
indent_size = 4

[*.json]
indent_style = space
indent_size = 2

[*.{yml,yaml}]
indent_style = space
indent_size = 2

[{**.*sh,**.bats}]
indent_style = tab
indent_size = 4

shell_variant      = bash
binary_next_line   = true  # like -bn
switch_case_indent = true  # like -ci
space_redirects    = true  # like -sr
keep_padding       = false  # like -kp
end_of_line        = lf
charset            = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
